<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mission to Mars</title>
    <!-- Link to the Style Sheet for a Jumbotron  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Link to the CSS Style Sheet  -->
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">

</head>

<body>
    <div class="container">
        <!-- Jumbotron -->
        <!-- https://stackoverflow.com/questions/22904102/how-to-change-the-background-color-of-jumbrotron -->
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>

            <a class="btn btn-light btn-lg" href="/scrape" role="button">Scrape New Data</a>
        </div>
    </div>
</body>

</html>